/* Global Styles-------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color      : #161925;
    margin     : 0;
    padding    : 0;
    font-family: 'Montserrat', sans-serif;
    font-size  : 20px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: rgb(118, 155, 202);
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size  : 140px;
    line-height: 1;
    padding-top: 2px;
}

h2 {
    font-size: 45px;
}

h1,
h2 {
    font-family: 'Caveat', cursive;

    font-weight: 400px;
    margin     : 0;
}

.content-wrap {
    max-width: 800px;
    width    : 85%;
    margin   : 0 auto;
    padding  : 60px 0;
}


.topnav {
    overflow: hidden;
}


.topnav a {
    float          : right;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}



.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    color: white;
}

h3 {
    margin-bottom: 0;
}

.item-details h3+p {
    font-style: italic;
}

.item-details h3~p {
    margin: 0;
}

.divider>section {
    border-bottom: 1px dashed darkgray;
    padding      : 25px 0;
}

.divider>section:last-of-type {
    border-bottom: none;
}

/* Profile
-------------------------------------------*/

header {
    color     : #031014;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/me.jpeg);

    background-size: cover;
    height         : 100vh;
    object-fit     : scale-down;
}

header:hover {
    opacity: 1;
}

nav {
    color     : #161925;
    background: #406E8E;
}


.topnav2 {
    overflow     : hidden;
    float        : right;
    padding-top  : 380px;
    padding-right: 25px;
}



.topnav2 a {

    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}


.topnav2 a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav2 a.active {
    color: white;
}


.fa {

    padding-bottom : 100px;
    font-size      : 100000000px;
    width          : 100px;
    height         : 50px;
    text-align     : center;
    text-decoration: none;
}


.fa:hover {
    opacity: 0.7;
}

/* Instagram */
.fa-instagram {
    background: #E1306C;
    color     : white;
}

/*  Github */
.fa-github {
    background: #211F1F;
    color     : white;
}

/* Linkedin */
.fa-linkedin {
    background: #0e76a8;
    color     : white;
}

.fa-envelope {
    background: #1b1a18;
    color     : rgb(3, 3, 3);
}

/* about-------------------------------------------*/
.about {
    background: #406E8E;
}

.about a {
    color: antiquewhite;
}

.about .btn {
    color        : #161925;
    background   : #8EA8C3;
    padding      : 8px;
    border-radius: 4px;
    display      : inline-block;
}

.about .btn:hover {
    background: rgba(47, 48, 97, 80%);
}

.about-item {
    overflow: hidden;
}

.about-item h3 {
    margin-top: 0;
}

/* Awards
-------------------------------------------*/
.awards {
    background: #CBF7ED;
}

/* Education
-------------------------------------------*/
.education {
    padding-bottom: 50px;
    background    : #8EA8C3;
}

.education p {
    width: 60%;
}

/* Contact Info
-------------------------------------------*/


.contact-list {
    list-style-type: none;
    padding        : 0;
}

h5 {
    padding-top: 20px;
    font-size  : 45px;
    font-family: 'Caveat', cursive;
    font-weight: 400px;
    margin     : 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
    color  : #406E8E;
}

.content-wrap2 {
    max-width: 800px;
    width    : 85%;
    margin   : 0 auto;
    padding  : 0 auto;
}





/* Responsive-------------------------------------------*/
@media screen and (min-width: 750px) {

    header,
    footer {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .about-item img {
        float       : left;
        margin-right: 20px;
    }

    .awards-item {
        display              : grid;
        grid-template-columns: 1fr 2fr;
        column-gap           : 20px;
    }

    .contact-list {
        display        : flex;
        justify-content: center;
    }


}

@media screen and (max-width: 749px) {
    h1 {
        font-size  : 50px;
        line-height: 1;
        position   : relative;
        bottom     : 50px;

    }



    h4 {
        font-size: 15px;
        position : relative;
        bottom   : 70px;
    }

    .topnav2 {
        position: relative;
        top     : 150px;
        right   : 40px;
        padding : 0;
        float   : center;
        margin  : 0;
    }

    h2 {
        text-align : left;
        line-height: 1;

    }
    .fa {
        width:85px

    }

    .contact-list a {
        padding: 5px;

    }
}
